body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #fff;
}
.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.option {
    background-color: #333;
    color: #fff;
}
.option:hover {
    background-color: #555;
}
.hidden {
    display: none;
}
#timer {
    font-size: 20px;
}
.feedback-correct {
    background-color: #4CAF50; /* Green */
}
.feedback-wrong {
    background-color: #F44336; /* Red */
}
